.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	min-height: rem(52);
	padding: 0 rem(20);

	&-tit {
		width: 100%;
		text-align: center;

		& + [class ^= btn-] + [class ^= btn] {
			margin-left: rem(16);
		}
	}
}

.step-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 100vh;
	background-color: yellow;
}

.layer {
	&-wrap {
		overflow: auto;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}

	&-header {
	}
	&-content {
		padding-top: rem(56);
		padding-bottom: rem(100);

		.tit-area {
			margin-top: rem(20);
			.tit {
				font-size: 24px;
				line-height: 34px;
			}
			.desc {
				margin-top: 8px;
			}
		}

		.content-area {
			margin-top: rem(40);
		}
	}

	&-footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: rem(20);
		background-color: rgba(#fff, .5);
		backdrop-filter: blur(4px);
	}

}
