@charset 'utf-8';

html,body { height: 100%;}
.flex-btn {
    display: flex;
    flex-direction: column;
    height: 100%;
    main {
        overflow: auto;
        flex: 0 100%;
    }
}
header {
    min-height: 40px;
    background-color: gray;
}
footer {
    border-top: 1px solid #ddd;
    padding: 20px 10px 10px;
}
.btn {
    background-color: green;
}
.inner-scroll {
    width: 100%;
    height: 2000px;
    border: 1px solid red;
}
.fixed-btn {
    padding: 40px 0 70px;
    header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    main {
        display: block;
        height: auto;
    }
    footer {
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}