@charset 'utf-8';

.popup {
    &-wrap {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .5);
            opacity: 0;
            @include append('.open'){
                opacity: 1;
                transition: opacity .15s;
            }
        }


        &.open {
            display: block;
        }
    }

    & {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #fff;
        border-radius: 16px 16px 0 0;
        overflow: auto;
        transform: translateY(100%);
        transition: transform .35s ease-in-out;
        
        @include append('.open ', $pos: 1) {
            transform: translateY(0);
        }
    }

    &-header {
        padding: 20px;
    }

    &-cont {
        height: 1000px;
    }

    @include append('.test ', $pos:1) {
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
        height: auto;
        width: auto;
        max-height: 600px;
        border-radius: 16px;

        display: flex;
        flex-direction: column;
        &-header {
            padding: 20px;
            border-bottom: 1px solid #ddd;
        }
        &-main {
            flex: 1;
            overflow: auto;
            padding: 0 20px;
        }
        &-footer {
            padding: 20px;
            border-top: 1px solid #ddd;
        }
    }
}
.label {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.input-wrap {
	margin-top: 10px;
	input {
		padding: 10px;
		box-sizing: border-box;
		width: 100%;
		height: 40px;
		border: 1px solid #ddd;
	}
}

.select-wrap {
	label {
		display: block;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;
		border: 1px solid #ddd;
	}
	ul {
		display: none;
		position: relative;
		border: 1px solid #ddd;
		max-height: 0;
		overflow: auto;
		transition: max-height .5s;
		li {
			padding: 15px 20px;
		}
	}
	label.active + ul {
		max-height: 150px;
	}
	select {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;
		border: 1px solid #ddd;
		background-color: #fff;
		border-radius: 0;
	}
	option {
		width: 100%;
	}
       
}

.bottomsheet {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0 20px;
    height: auto;

    .dummy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: coral;
        align-items: center;
    }
    textarea{
        margin-top: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 100%;
    }
}