@charset 'utf-8';

@import 'base/reset';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/input';
@import 'gnb';
@import 'test';

h1 {
	@include font('xxl', bold);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	
}

.form-wrap {
	padding: 20px 30px;
	border: 1px solid gray;
	border-radius: 10px;
	&:focus-within {
		border: 1px solid red;
	}
}


