@charset 'utf-8';

@import 'base/reset';
@import 'base/mixins';
@import 'gnb';
@import 'popup';
@import 'resize-test';
@import 'button';
@import 'layout';

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

