@charset 'utf-8';

@import 'base/reset';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/input';
@import 'gnb';
@import 'test';
@import 'popup';
@import 'swiper';

h1 {
	@include font('xxl', bold);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	
}

.form-wrap {
	padding: 20px 30px;
	border: 1px solid gray;
	border-radius: 10px;
	&:focus-within {
		border: 1px solid red;
	}
}


.accr {
	margin: 20px;

	li {
		overflow: hidden;
	}

	.big {
		display: none;
	}
	.active {
		.small {
			display: none;
		}
		.big {
			display: block;
		}
	}
	.btn {
		display: block;
		width: 100%;
		padding: 10px ;
	}

	.cont {
		overflow: hidden;
		height: 0;
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;

		button {
			background-color: red;
			padding: 10px;
		}
	}
}