@charset 'utf-8';

@import 'base/reset';
@import 'gnb';

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.popup {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.25);
	}
	.bottom-sheet {
		position: absolute;
		bottom: 0;
		z-index: 1;
		width: 100%;
		box-sizing: border-box;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background-color: #fff;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
	&-footer {
		margin-top: 20px;
		button {
			width: 100%;
			height: 40px;
			border-radius: 10px;
			background-color: green;
			color: #fff;
			font-weight: bold;
		}
	}
}
.label {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}
.input-wrap {
	margin-top: 10px;
	input {
		padding: 10px;
		box-sizing: border-box;
		width: 100%;
		height: 40px;
		border: 1px solid #ddd;
	}
}

.select-wrap {
	label {
		display: block;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;
		border: 1px solid #ddd;
	}
	ul {
		display: none;
		position: relative;
		border: 1px solid #ddd;
		max-height: 0;
		overflow: auto;
		transition: max-height .5s;
		li {
			padding: 15px 20px;
		}
	}
	label.active + ul {
		max-height: 150px;
	}
	select {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		height: 40px;
		border: 1px solid #ddd;
	}
}