<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="@@webRoot/assets/css/common.css">
</head>
<body>
	<div id="wrap">
    <!-- header -->
    <header class="gnb">
      <button type="button" class="gnb-goback">백</button> 
      <h1 class="f_tit-xl">보험상품 제목이지롱</h1>
      <div class="gnb-btn-group">
        <button type="button" class="gnb-menu" aria-label="menu"></button>
        <a href="#!" class="gnb-home" aria-label="홈으로 가기"></a>
      </div>
    </header>
    <!-- //header -->

    <!-- content -->
    <main id="content">

    </main>
    <!-- //content -->

    <!-- footer -->
    <footer id="footer">

    </footer>
    <!-- //footer -->
  </div>
  <!-- <include src="layer-content.html">
    content??
  </include> -->

  <%- include('layer-content.html') %>
  <div class="pop-cont">
    <h2>text</h2>
  </div>
  <%- include('layer-content.html', {end: true, footer: true}) %>
</body>
</html>