<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="@@webRoot/assets/css/common.css">
</head>
<body>
	<!-- header -->
	<%- include('@@webRoot/html/inc/_gnb.html', {active: 1}) %>
	<!-- //header -->

  <%- include('@@webRoot/html/inc/_popup.html', {title: 'modal test'}) %>
    <ul>
      <li>list1</li>
      <li>list2</li>
      <li>list3</li>
      <li>list4</li>
    </ul>
    <%- include('@@webRoot/components/buttons/button-round.html', {text: 'BUTTON'}) %>
  <%- include('@@webRoot/html/inc/_popup.html', {end: true}) %>
</body>
</html>