<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">

    <% 
    const inc = `@@webRoot/html/inc`;
    const components = '@@webRoot/components';
    const template = '@@webRoot/html/template'
    _%>
</head>
<body>
    <div id="wrap">
    </div>

    <div class="layer-wrap">
        <!-- layer header -->
        <%- include(`${inc}/_gnb.html`, {
            goback: true, step: true, home: true,
            title: '자동차 보험'
        }) %>
        <!-- //layer header -->

        <div class="layer-content">
            <!-- title area -->
            <div class="tit-area">
                <h2 class="tit">자동차번호 또는 <br>
                    차대번호를 입력해 주세요.</h2>
                <p class="desc">중고차는 자동차번호를 입력해 주세요. <br>
                    차대번호는 새로 출고하는 차량만 가능합니다.</p>
            </div>
            <!-- //title area -->

            <!-- content area -->
            <div class="content-area">
            </div>
            <!-- //content area -->
        </div>

        <!-- layer footer -->
        <div class="layer-footer">
            <button type="button"> 다음</button>
        </div>
        <!-- //layer footer -->
    </div>
    
</body>
</html>