<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">

    <% 
    const inc = `@@webRoot/html/inc`;
    const components = '@@webRoot/components';
    const template = '@@webRoot/html/template'
    _%>
    <link rel="stylesheet" href="@@webRoot/assets/css/common.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
    <script src="@@webRoot/assets/js/gsap.min.js"></script>
    <script src="@@webRoot/assets/js/ScrollTrigger.min.js"></script>
    <script src="@@webRoot/assets/js/ScrollToPlugin.min.js"></script>
</head>
<body>
<div id="wrap">
    
    <div class="table sticky-table">
        <table>
            <thead>
                <tr>
                    <% for(let i=0; i<6; i++) { %>
                    <th>depth <%= i %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<6; i++) { %>
                <tr>
                    <% for(let i=0; i<6; i++) { %>
                    <td>depth <%= i %></td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</div>

<script>

$(function(){

    const isScroll = $('.sticky-table').outerWidth() < $('.sticky-table table').outerWidth() ? true : false;
    if( isScroll ) {
        $('.sticky-table').on('scroll', function(){
            $(this)._toggleClass('scroll', $(this).scrollLeft() > 0);
        })
    }

});

$.fn._toggleClass = function(addClass, condition){
    return this.each(function(){
        
        if(condition){
            $(this).addClass(addClass);
        }else{
            $(this).removeClass(addClass);
        }

    })
}
</script>
</body>
</html>